<div class="about-section">
    <h1 class="text-center">About Us Page</h1>
    <p>Life Care Hospital is built up in 20,000 Sq. Ft. Area & easy approachable from any corner of town.Life Care Hospital is equipped with 50 beds with air condition including 8 bedded ICU setup. We have 2 Operation Theatre with laminar air flow and ICCU, NICU & Trauma Care Unit. & Facilities like Private & Semi¬private Rooms,General wards, Isolation ward, Patients Lift, Generators wth power back¬up, Blood Bank ( Outsource ) and canteen are also provided. We have a team of more than 36 renouned medical professionals and consultants and highly qualified medical and para¬medical staff with humanly approach. Our aim is to provide the best possible health care facilities to our patients with "Zero Defect" and patient satisfaction which we consider as our top most priority.</p>
   
  </div>
  