    <div class="col-md-6 offset-md-3 mt-4">
        <h3 class="text-center ">Create Doctor</h3>
    
        <form autocomplete="off" #register='ngForm' (ngSubmit)="register.valid && submit(register)">
    
            <div class="form-group mb-2">
                <label>Name</label>
                <input type="text" class="form-control" id="regno" [(ngModel)]="doctor.name" name="name">
    
            </div>
    
            <div class="form-group mb-2">
                <label>Age</label>
                <input type="number" class="form-control" id="name" [(ngModel)]="doctor.age" name="age">
    
            </div>
    
            <!-- <div class="form-group">
                <label>Type</label>
                <input type="text" class="form-control" id="type" [(ngModel)]="vehicles.type" name="type">
        
            </div> -->
    
            <div class="form-group mb-2">
    
                <label class="mr-2">Gender:</label>
                <div class="form-check form-check-inline ">
                    <input class="form-check-input mt-2" type="radio" name="gender" [(ngModel)]="doctor.gender" value="Male"
                        id="type">
                    <label class="form-check-label mt-2" for="type">
                      Male
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input mt-2" type="radio" name="gender" [(ngModel)]="doctor.gender" value="Female"
                        id="type">
                    <label class="form-check-label mt-2" for="type">
                       Female
                    </label>
                </div>
            </div>
    
    
    
 
    
    
            <div class="form-group mb-2">
                <label>Select specialist</label><br>
                <select class="form-select form-select-lg" aria-label=".form-select-lg example"
                    [(ngModel)]="doctor.specialist" name="specialist" >
                    <option selected disabled>Select specialist</option>
                    <option *ngFor="let sp of specialist" [value]="sp">{{sp}}</option>
                </select>
            </div>
    
    
    
          
    
              <div class="text-center mt-4">
            <button class="btn btn-success " type="submit">Submit</button>
        </div>
        </form>
    </div>