<h2 style="text-align:center" class="mt-4 mb-3"><b>Our Experts</b></h2>
<div class="row">
  <div class="column">
    <div class="card ml-5" style=" width: 250px;">
      <img src="../../../assets/A.jpg" alt="Jane" style="height: 200px;">
      <div class="container">
        <h2>Rohan B</h2>
        <p class="title">CEO & Founder</p>
        <p>Rohan B is the CEO and Founder of the Life Care Hospital He has 16 Years of Experience in Medical Field.</p>
        <p>Rohan@hospitalLifeCare.com</p>
      </div>
    </div>
  </div>

  <div class="column-2">
    <div class="card" style=" width: 250px;">
      <img src="../../../assets/B.jpg" alt="Mike" style="height: 200px;">
      <div class="container">
        <h2>Yuvraj</h2>
        <p class="title">Surgeon</p>
        <p>Yuvraj is the Surgeon of the Life Care Hospital He has 14 Years of Experience in Medical Field and Efficient in work.</p>
        <p>Yuvraj@hospitalLifeCare.com</p>
        
      </div>
    </div>
  </div>
  
  <div class="column-3">
    <div class="card" style=" width: 250px;">
      <img src="../../../assets/C.jpg" alt="John" style="height: 200px;">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Surgeon</p>
        <p>John Doe is the Surgeon of the Life Care Hospital He has 13 Years of Experience in Medical Field and Efficient in work..</p>
        <p>JohnDoe@hospitalLifeCare.com</p>
       
      </div>
    </div>
  </div>
</div>
